<div class="title">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <p>We suggest you search for a gif</p>

  <form #searchForm="ngForm" (ngSubmit)="searchGIF(search)">
    <div class="form-group">
      <input type="text" #searchBox id="search-box" class="form-control" name="search" [(ngModel)]="search" /><br><br>
      <span class="button" (click)="searchGIF(search)">search</span>
    </div>
  </form>
</div>

  <div class="search-results" *ngFor="let gif of gifs">
      
<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{gif.title}}</mat-card-title>
    </mat-card-header>
  <img mat-card-image class="img" src={{gif.images.original.url}} alt="">
  <mat-card-actions class="buttons">
    <button mat-button><mat-icon>thumb_up</mat-icon></button>
    <button mat-button><mat-icon>thumb_down</mat-icon></button>
  </mat-card-actions>
</mat-card>

</div>

